.buttonWrapper{
    text-align: center;
}

button{
    cursor: pointer;
    height: 50px;
    width: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: large;
    color: cadetblue;
}

.score{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 30px;
    justify-items: center;
}

.mets{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.periode{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.nutScoreWrapper{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.nutScoreWrapper::first-letter{
    text-transform: capitalize;
}
.choiceWrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 30px;
    justify-items: center;
}

.food{
    border-radius: 5%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.game{
    margin: 30px;
    padding: 50px;
    background-color: bisque;
    height: 700px;
    border-style: solid;
}

.card{
    background-color: white;
    border-radius: 5%;
    height: 0%;
    cursor: pointer;
    animation: fadein 2s;

}

.card:hover{
    height: 100%;
    transition: 0.7s;
    box-shadow: 0 0px 10px rgb(0 0 0 / 0.2);

}

.info{
    display: none;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10px;
    visibility: hidden;
    animation: 0s 0.5s forwards info ;
}

#card0:hover  #info0 {
    display: block;
}



#card1:hover  #info1 {
    display: block;

}

#card2:hover  #info2 {
    display: block;

}

#card3:hover  #info3 {
    display: block;

}

.swal2-title {
    font-family: 'Courier New', Courier, monospace;
  }

.instructions{
    font-family: 'Courier New', Courier, monospace;
    padding: 0px 200px 100px 200px;
}

a{
    color:cadetblue;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes info {
    from{
        visibility: hidden;
    }
    to {
      visibility: visible;
    }
  }
  
  